// ==== common scss started here ====
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700&family=Poppins:wght@300;400;500;700&display=swap");

$manrope: "Manrope", sans-serif;
$popins: "Poppins", sans-serif;
$txt__color: #282938;
$white: #fff;
$tint__blue: rgba(28, 30, 83, 1);
$yellow: #fcd980;
$blue: rgba(82, 57, 250, 1);
$common__btn_txt: #1b1c2b;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  height: 0;
  width: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.common__heading {
  color: $popins;
  font-family: $popins;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
.common__paragraph {
  color: #282938;
  font-family: $popins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
.common__btn {
  align-items: center;
  justify-content: center;
  padding: 16px 56px;
  border-radius: 41px;
  color: $txt__color;
  font-family: $manrope;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  border: 2px solid transparent;
  background: transparent;
  color: $white;
  border: 2px solid rgba(244, 246, 252, 0.2);
  text-transform: capitalize;
  transition: 0.3s linear all;
  &:hover {
    color: $common__btn_txt;
    background: #fcd980;
  }
}
// ==== common scss ende here  here ====

// ==== navbar scss started here ====
#navbar {
  height: 92px;
  position: absolute;
  z-index: 1;
  .navbar__wrapper {
    height: auto;
    width: 1310px;
    display: flex;
    flex-direction: row;
    margin: 0 305px;
    .navbar__logo {
      position: relative;
      width: 122px;
      height: 28px;
      overflow: hidden;
      margin-top: 32px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .navbar__menu {
      display: flex;
      flex-direction: row;
      column-gap: 32px;
      margin-left: 452px;
      margin-top: 32px;
      li {
        position: relative;
        transition: 0.3s linear all;
        &::after {
          content: "";
          position: absolute;
          height: 5px;
          width: 80%;
          background-color: $blue;
          bottom: 0;
          left: 0;
          border-radius: 50px;
          opacity: 0;
          transition: 0.3s linear all;
          margin-left: 5px;
        }
        &:hover::after {
          opacity: 1;
        }
        .navbar__menu__item {
          color: $white;
          font-family: $popins;
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          text-transform: capitalize;
        }
      }
    }
    .navbar__btn {
      margin-left: 48px;
      margin-top: 16px;
      button {
        width: 185px;
        height: 60px;
        color: $white;
        font-family: $popins;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        transition: 0.3s linear all;
        padding: 0;
        &:hover {
          color: $common__btn_txt;
        }
      }
    }
  }
}
// ==== navbar scss ende here  here ====
// ==== common scss started here ====
#banner {
  position: relative;
  height: 760px;
  background-color: $tint__blue;
  z-index: 0;
  .banner__wrapper {
    height: auto;
    width: 1310px;
    display: flex;
    flex-direction: row;
    margin: 0 305px;
    margin-top: 218px;
    position: absolute;
    .banner__contents {
      display: flex;
      flex-direction: column;
      .main__heading {
        width: 582px;
        color: $white;
        font-family: $popins;
        font-size: 54px;
        font-weight: 600;
        line-height: 74px;
      }
      p {
        color: $white;
        margin-top: 24px;
        width: 562px;
      }
      .banner__btn {
        display: flex;
        flex-direction: row;
        column-gap: 40px;
        margin-top: 48px;
        button {
          &:nth-child(2) {
            border: 2px solid transparent;
          }
        }
      }
    }
    .banner__img {
      width: 638px;
      height: 361.115px;
      margin-left: 60px;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
// ==== common scss ende here  here ====
// ==== work scss started here ====
#work {
  height: 661px;
  position: relative;
  background-color: rgba(244, 246, 252, 1);
  .work__wrapper {
    height: auto;
    width: 1310px;
    margin: 0 305px;
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 128px;
    .work__contents {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      p {
        width: 405px;
      }
      span {
        color: #2405f2;
        font-family: $popins;
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
        text-align: left;
        position: relative;
        &::before {
          content: "";
          height: 22px;
          width: 0;
          position: absolute;
          background-color: #2405f2;
          margin-top: 6px;
          left: 0;
          transition: 0.3s linear all;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
        }
        &:hover::before {
          width: 45%;
        }
      }
    }
    .work__cards {
      width: 631px;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 142px;
      column-gap: 25px;
      row-gap: 48px;
      .work__cards_single {
        height: auto;
        width: 303px;
        display: flex;
        flex-direction: column;
        .work__card_number {
          height: 50px;
          width: 50px;
          overflow: hidden;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .work__heading {
          width: 328px;
          color: $txt__color;
          font-family: $popins;
          font-size: 32px;
          font-weight: 500;
          line-height: 48px;
          margin-top: 16px;
          margin-bottom: 8px;
        }
      }
    }
  }
}
// ==== work scss ende here  here ====
// ==== projects scss started here ====
#projects {
  height: 984px;
  position: relative;
  background-color: $white;
  .projects__wrapper {
    position: absolute;
    width: 1310px;
    height: auto;
    margin: 128px 305px;
    display: flex;
    flex-direction: column;
    .project__headings {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      h4 {
        color: $txt__color;
        font-family: $popins;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        position: relative;
        &::before {
          content: "";
          height: 22px;
          width: 0;
          position: absolute;
          background-color: #000000ed;
          margin-top: 4px;
          left: 0;
          transition: 0.3s linear all;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
        }
        &:hover::before {
          width: 82%;
        }
      }
    }
    .projects__cards {
      height: auto;
      width: 100%;
      margin-top: 79px;
      .projects__single__card {
        position: absolute;
        z-index: 0;
        &:nth-child(1) {
          width: 843px;
          height: 600px;
          left: 0;
          z-index: 0;
          &::before {
            content: "";
            position: absolute;
            height: 600px;
            width: 396px;
            background: linear-gradient(
              329deg,
              #1c1e53 -10.96%,
              rgba(28, 30, 83, 0.42) 103.96%
            );
            z-index: 0;
          }
          .project__card__content {
            position: absolute;
            z-index: 10;
            top: 0;
            height: auto;
            width: 313px;
            margin-top: 312px;
            margin-left: 48px;
            .card__heading {
              color: $white;
              font-family: $popins;
              font-size: 24px;
              font-weight: 600;
              line-height: 36px;
            }
            p {
              margin-top: 16px;
              color: $white;
              margin-bottom: 40px;
            }
            span {
              color: $yellow;
              font-family: $popins;
              font-size: 16px;
              font-weight: 500;
              line-height: 28px;
              &::before {
                content: "";
                height: 22px;
                width: 0;
                position: absolute;
                background-color: $yellow;
                margin-top: 4px;
                left: 0;
                transition: 0.3s linear all;
              }
              &:hover::before {
                width: 32%;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
              }
            }
          }
        }
        &:nth-child(2) {
          width: 405px;
          height: 284px;
          right: 0;
          overflow: hidden;
          &::before {
            content: "";
            position: absolute;
            height: 284px;
            width: 405px;
            background: linear-gradient(
              329deg,
              #1c1e53 -10.96%,
              rgba(28, 30, 83, 0.42) 103.96%
            );
            z-index: 0;
          }
          .project__card__content {
            height: auto;
            width: 313px;
            position: absolute;
            z-index: 10;
            top: 0;
            margin-top: 129px;
            margin-left: 56px;
            .card__heading {
              color: $white;
              font-family: $popins;
              font-size: 24px;
              font-weight: 600;
              line-height: 36px;
              width: 213px;
            }
            span {
              color: $yellow;
              font-family: $popins;
              font-size: 16px;
              font-weight: 500;
              line-height: 28px;
              margin-top: 10px;
              &::before {
                content: "";
                height: 22px;
                width: 0;
                position: absolute;
                background-color: $yellow;
                margin-top: 4px;
                left: 0;
                transition: 0.3s linear all;
              }
              &:hover::before {
                width: 36%;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
              }
            }
          }
        }
        &:nth-child(3) {
          width: 405px;
          height: 284px;
          right: 0;
          overflow: hidden;
          margin-top: 316px;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          z-index: 0;
        }
      }
    }
  }
}
// ==== projects scss ende here  here ====
// ==== features scss started here ====
#features {
  height: 1191px;
  position: relative;
  background: #f4f6fc;
  .features__wrapper {
    height: auto;
    width: 1310px;
    position: absolute;
    margin: 128px 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .features__headings {
      align-items: center;
      width: 630px;
      h4 {
        color: $txt__color;
        text-align: center;
        font-family: $popins;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
      }
      h2 {
        text-align: center;
        margin-top: 12px;
      }
    }
    .features__cards {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 47px;
      column-gap: 32px;
      row-gap: 24px;
      .feature__single__card {
        width: 405px;
        height: 316px;
        display: flex;
        flex-direction: column;
        background-color: $white;
        img {
          margin-top: 58px;
          margin-left: 48px;
          height: 35px;
          width: 35px;
          object-fit: cover;
        }
        h2 {
          color: $txt__color;
          width: 314.748px;
          font-family: $popins;
          font-size: 24px;
          font-weight: 500;
          line-height: 36px;
          margin-top: 22px;
          margin-left: 48px;
        }
        p {
          width: 324px;
          margin-top: 12px;
          margin-left: 48px;
        }
      }
    }
  }
}
// ==== features scss ende here  here ====
// ====  clients scss started here ====
#clients {
  height: 506px;
  position: relative;
  background: rgba(244, 246, 252, 1);
  .clients__wrapper {
    height: auto;
    width: 1310px;
    position: absolute;
    margin: 128px 305px;
    display: flex;
    flex-direction: row;
    .client__heading {
      width: 327px;
      h2 {
        color: $popins;
        font-family: $popins;
        font-size: 38px;
        font-weight: 600;
        line-height: 56px;
        margin-bottom: 16px;
      }
    }
    .client__contents {
      margin-left: 110px;
      display: flex;
      flex-direction: column;
      h3 {
        color: $txt__color;
        font-family: $popins;
        font-size: 32px;
        font-weight: 500;
        line-height: 48px;
        width: 847px;
        margin-top: 2px;
      }
    }
    .client__info {
      margin-top: 48px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .client__img {
        width: 52px;
        height: 52px;
        overflow: hidden;
        border-radius: 50%;
      }
      .client__soft_info {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        h5 {
          color: $txt__color;
          font-family: $popins;
          font-size: 18px;
          font-weight: 500;
          line-height: 32px;
        }
        span {
          color: $txt__color;
          font-family: $popins;
          font-size: 12px;
          font-weight: 500;
          line-height: 28px;
        }
      }
    }
  }
}
// ====  clients scss ende here  here ====
// ==== info scss started here ====
#info {
  height: 796px;
  position: relative;
  .info__wrapper {
    height: auto;
    width: 1310px;
    margin: 128px 305px;
    position: absolute;
    display: flex;
    flex-direction: row;
    .info__hedings {
      h2 {
        width: 328px;
        color: $txt__color;
        font-family: $popins;
        font-size: 38px;
        font-weight: 600;
        line-height: 56px;
      }
      span {
        margin-top: 16px;
        color: $blue;
        text-align: center;
        font-family: $popins;
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
      }
    }
    .info__faq {
      display: flex;
      flex-direction: column;
      margin-left: 136px;
      row-gap: 64px;
      .faq__items {
        display: flex;
        flex-direction: row;
        position: relative;
        &:nth-child(1) {
          &::before {
            content: "";
            position: absolute;
            width: 843px;
            height: 2px;
            background-color: rgba(236, 236, 241, 1);
            top: 0;
            margin-top: 156px;
          }
        }
        &:nth-child(2) {
          &::after {
            content: "";
            position: absolute;
            width: 843px;
            height: 2px;
            background-color: rgba(236, 236, 241, 1);
            top: 0;
            margin-top: 82px;
          }
        }
        &:nth-child(3) {
          &::after {
            content: "";
            position: absolute;
            width: 843px;
            height: 2px;
            background-color: rgba(236, 236, 241, 1);
            top: 0;
            margin-top: 82px;
          }
        }
        &:nth-child(4) {
          &::after {
            content: "";
            position: absolute;
            width: 843px;
            height: 2px;
            background-color: rgba(236, 236, 241, 1);
            top: 0;
            margin-top: 82px;
          }
        }
        .faq__numbers {
          color: $blue;
          text-align: center;
          font-family: $popins;
          font-size: 24px;
          font-weight: 500;
          line-height: 36px;
        }
        .faq__contents {
          margin-left: 59px;
          display: flex;
          flex-direction: column;
          .faq__heading {
            color: $txt__color;
            font-family: $popins;
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
          }
          .faq__paragraph {
            color: $txt__color;
            font-family: $popins;
            font-size: 18px;
            font-weight: 500;
            line-height: 32px;
            margin-top: 16px;
            opacity: 0.87;
            width: 624px;
          }
        }
        img {
          height: 16px;
          width: 16px;
          overflow: hidden;
          position: absolute;
          right: 0;
          margin-right: -130px;
        }
      }
    }
  }
}
// ==== info scss ende here  here ====
// ==== form scss started here ====
#form {
  height: 947px;
  position: relative;
  .form__wrapper {
    position: absolute;
    height: auto;
    width: 1310px;
    margin: 128px 305px;
    display: flex;
    flex-direction: row;
    background-color: #1c1e53;
    .form__banner {
      width: 656px;
      height: 691px;
      overflow: hidden;
      &::after {
        content: "";
        position: absolute;
        width: 656px;
        height: 691px;
        background: rgba(28, 30, 83, 0.5);
        left: 0;
        z-index: 0;
      }
      .form__banner__content {
        height: auto;
        width: 464px;
        position: absolute;
        top: 0;
        z-index: 10;
        margin-top: 96px;
        margin-left: 96px;
        .banner__form__heading {
          color: $white;
          font-family: $popins;
          font-size: 54px;
          font-weight: 600;
          line-height: 74px;
        }
        p {
          font-weight: 500;
          color: $white;
          margin-top: 24px;
        }
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .form__contents {
      display: flex;
      flex-direction: column;
      margin-top: 96px;
      margin-left: 96px;
      .form__heading {
        color: $white;
        font-family: $popins;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
      }
      p {
        color: $white;
        width: 432px;
        margin-top: 16px;
      }
      .form__form {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        align-items: center;
        input {
          width: 432px;
          height: 64px;
          border-radius: 8px;
          border: 1.5px solid rgba(255, 255, 255, 0.05);
          margin-bottom: 16px;
          background: #1b1c2b0a;
          outline: none;
          align-items: center;
          padding-left: 32px;
          color: #f4f6fc;
          font-family: $popins;
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          opacity: 0.5;
          text-transform: capitalize;
        }
        button {
          margin-top: 24px;
          width: 432px;
          opacity: 0.7;
        }
        span {
          margin-top: 28px;
          color: $white;
          font-family: $popins;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 32px;
          position: relative;
          &::before {
            content: "";
            height: 22px;
            width: 0;
            position: absolute;
            background-color: $white;
            margin-top: 6px;
            left: 0;
            transition: 0.3s linear all;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
          }
          &:hover::before {
            width: 90%;
          }
        }
      }
    }
  }
}
// ==== form scss ende here  here ====

// ==== common scss started here ====
// ==== common scss ende here  here ====

// ==== common scss started here ====
// ==== common scss ende here  here ====

// ==== common scss started here ====
// ==== common scss ende here  here ====

// ==== common scss started here ====
// ==== common scss ende here  here ====

// ==== common scss started here ====
// ==== common scss ende here  here ====
